@import "tailwindcss";

@font-face {
  font-family: 'Tektur';
  src: url(../public/fonts/Tektur.woff2) format(woff2);
  font-style: normal;
}

@font-face {
  font-family: 'Jura';
  src: url(../public/fonts/Jura.woff2) format(woff2);
  font-style: normal;
}

@theme {
  --color-primary: oklch(0.2199 0.0317 198.63);
  --color-secondary: oklch(0.2638 0.0384 181.18);
  --color-third: oklch(0.3133 0.0413 180.37);
  --color-fourth: oklch(0.405 0.0564 174.64);
  --color-fifth: oklch(0.7395 0.058 155.23);
  --color-sixth: oklch(0.9361 0.0351 150.54);

  --font-Tektur: 'Tektur';
  --font-Jura: 'Jura';

  --text-42: 3.425rem;
  --text-36: 2.2025rem;
  --text-33: 2.0625rem;
  --text-28: 1.75rem;
  --text-25: 1.5625rem;
  --text-24: 1.2625rem;
  --text-22: 1.375rem;
  --text-20: 1.25rem;
  --text-18: 1.125rem;
  --text-16: 1rem;
  --text-14: 0.875rem;
  --text-12: 0.75rem;
  --text-11: 0.688rem;
  --text-10: 0.625rem;
  --text-9: 0.563rem;
  --text-8: 0.5rem;
  --text-7: 0.438rem;

  --spacing-1/22: 22%;

  --breakpoint-xs: 320px;
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2k: 1920px;
  --breakpoint-4k: 2560px;

  --radius-xl: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--color-primary);
}